{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
        <main>
            <section>
                {{> title data="My education" big=true}}
                <ul>
                    {{#each educations}}
                        <li>
                            {{name}}
                            {{#unless isEnd}} (ще навчаюсь) {{/unless}}
                        </li>
                    {{/each}}
                </ul>
            </section>

            <section>
                {{> title data="My certificates"}}
                <ul>
                    {{#each certificates}}
                        <li>
                            {{name}} ({{id}})
                        </li>
                    {{/each}}
                </ul>
            </section>
        </main>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}