{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
        <main>
            <section>
                {{> title data="All skills" big=true}}
                <ul>
                    {{#each skills}}
                        <li>
                            {{name}}

                            {{#if point includeZero=true}} ({{point}}) {{/if}}

                            {{#if isTop}} (top!) {{/if}}

                            {{#unless point includeZero=true}} (не вивчаємо) {{/unless}}

                            {{#unless point}}
                                {{#if point includeZero=true}}
                                    (зараз вивчаємо)
                                {{/if}}
                            {{/unless}}

                        </li>
                    {{/each}}
                </ul>
            </section>

            <section>
                {{> title data="All hobbies"}}
                <ul>
                    {{#each hobbies}}
                        <li>
                            {{name}}
                            {{#if isMain}} (favourite) {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </section>
        </main>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}