{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
        <main>
            <section>
                {{> title data=summary.title big=true}}
                <div>
                    <p>
                        {{summary.text}}
                    </p>
                </div>
            </section>

            {{#with experience}}
                <section>
                    {{> title data=title}}
                    <div>
                        <p>
                            {{text}}
                        </p>
                    </div>
                </section>
            {{/with}}
        </main>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}