<nav>
    {{> link text="Summary" href="/summary" line=true }}
    {{> link text="Skills" href="/skills" line=true }}
    {{> link text="Education" href="/education" line=true }}
    {{> link text="Work" href="/work" line=true noLine=true }}
</nav>