{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

	<head>
		<title>
			{{page.title}}
		</title>
		<meta charset='utf-8' />
		<link href='css/index.css' rel='stylesheet' />
	</head>

	<body>
		{{> nav}}

		<br>
		<hr>

		{{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
		{{{body}}}

		<br>
		<hr>

		{{> footer social=footer.social firstname=header.name.firstname lastname=header.name.lastname address=header.address}}
	</body>

</html>